---
layout: page
title: Tags
permalink: /tags
---

<script>
$("[data-tag]").click((e) => {
  currentTag = e.target.dataset.tag;
  filterByTagName(currentTag);
})

function filterByTagName(tagName) {
  $('.hidden').removeClass('hidden');
  $('.post-wrapper').each((index, elem) => {
    if (!elem.hasAttribute(`data-${tagName}`)) {
      $(elem).addClass('hidden');
    }
  });
  $(`.tag`).removeClass('selected');
  $(`.tag[data-tag=${tagName}]`).addClass('selected');
}
</script>

{% for tag in site.data.tags %}
  <span class="tag" data-tag="{{ tag }}">
    <span class="c-tag">{{ tag }}</span>
  </span>
{% endfor %}

<section class="c-archives">
{% for post in site.posts  %}
    {% if forloop.first %}
        <h2 class="c-archives__year" id="{{ this_year }}-ref">{{this_year}}</h2>
        <ul class="c-archives__list">
    {% endif %}
        <li class="c-archives__item">
            <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
          	{% for tag in page.tags %}
              <span class="c-tag">{{ tag }}</span>
			      {% endfor %}
        </li>
{% endfor %}
</section>
