---
layout: page
title: Tags
permalink: /tags
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<p>Language</p>
{% for tag in site.data.tags.language %}
	<a href="#{{ tag }}" data-tag="{{ tag }}"><span class="c-tag">{{ tag }}</span></a>
{% endfor %}
</br>
<p>Framework</p>
{% for tag in site.data.tags.framework %}
	<a href="#{{ tag }}" data-tag="{{ tag }}"><span class="c-tag">{{ tag }}</span></a>
{% endfor %}
</br>
<p>Database</p>
{% for tag in site.data.tags.database %}
	<a href="#{{ tag }}" data-tag="{{ tag }}"><span class="c-tag">{{ tag }}</span></a>
{% endfor %}
</br>
<p>Vulnerblities</p>
{% for tag in site.data.tags.vulnerblities %}
	<a href="#{{ tag }}" data-tag="{{ tag }}"><span class="c-tag">{{ tag }}</span></a>
{% endfor %}
<section class="c-archives">
	{% for post in site.posts  %}
		<li class="c-archives__item" {% for tag in post.tags %}data-{{ tag }}{% endfor %}>
			<h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
			{% for tag in post.tags %}
				<span class="c-tag">{{ tag }}</span>
			{% endfor %}
		</li>
	{% endfor %}
</section>
<script>
	function filter(tag) {
		$('li.c-archives__item__hidden').removeClass('c-archives__item__hidden');
		$('li.c-archives__item').each((index, element) => {
			if (!element.hasAttribute(`data-${tag}`)) {
				$(element).addClass('c-archives__item__hidden');
			}
		});
		$(`.c-tag`).removeClass('selected');
		$(`.c-tag[data-tag=${tag}]`).addClass('selected');
	}

	$('[data-tag]').click((element) => {
		tag = element.target.innerText;
		filter(tag);
	});
</script>
