<header class="c-page__header">
        <h1 style="font-weight: 900;">{{ site.description }}{% include emoji.html %}</h1>
	{% if page.title == 'Home' %}
    <p>
	    <a href="/">Main</a><span class="u-separate"></span> <a href="/tags">Tags</a><span class="u-separate"></span> <a href="https://twitter.com/03sunf">Twiter</a><span class="u-separate"></span> <a href="https://github.com/03sunf">Github</a>
    </p>
	{% else %}
    <p>
        <a href="{{ "/" | prepend: site.baseurl }}">Back</a>
    </p>
	{% endif %}
</header>
